<footer>
  <div class="footer-contact">
    <ul>
      <li><h4>Contact</h4></li>
      <li>+33(0) 6 71 22 61 28</li>
      <li>comosser@gmail.com</li>
    </ul>
  </div>
  <div class="footer-copy">
    <p>© Romain Mosser | 2018</p>
  </div>
  <div class="footer-site-map">
    <ul>
      <li><h4>Plan du site</h4></li>
      <li><%= link_to 'Accueil', root_path %></li>
      <li><a href="#">Appartements</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Connexion</a></li>
    </ul>
  </div>
</footer>
