<%= render 'partials/navbar' %>

<h1>Votre message a bien été envoyé</h1>
<h3>Nous reviendrons vers vous dans les prochaines 24 heures.</h3>

<%= link_to "Retour à l'accueil", root_path %>

<%= render 'partials/footer' %>
