<%= render 'partials/navbar' %>

<h1>Vous souhaitez plus d’informations ?</h1>
<h3>Envoyez nous un message.</h3>
<div class="decor-line"></div>

<%= render 'partials/contact-form' %>

<p>
  Nous vous remercions pour l’interêt que vous nous portez. <br>
  Nous tâcherons de vous répondre dans un délai de 24 heures.
</p>

<%= render 'partials/footer' %>
